<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>List of persons</h1>
    <ul>
        <th th:each="person : ${persons}">
            <br>
            <a th:href="@{/admin/persons/{id}(id=${person.getId()})}"
               th:utext="'ID: ' +${person.getId()}
               +'<br/>'+'       User Name(login): ' +${person.getUsername()}
               +'<br/>'+'       Roles: ' +${person.getRoles()}
               +'<br/>'"
            >...</a>
        </th>
    </ul>
</div>
<br>
<form method="GET" th:action="@{/admin/persons/createPerson}">
    <input type="submit" value="Add new user">
</form>
<br>
<form th:method="GET" th:action="@{/admin/persons/amountUsers}">
    <input type="submit" value="show amount users">
</form>
<form th:method="GET" th:action="@{/admin/persons/logout}">
    <input type="submit" value="logout">
</form>

</body>
</html>