<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${getUserById}"/>

<form th:method="GET" th:action="@{/users/edit/{id}(id=${getUserById.getId()})}" th:object="${getUserById}">
    <input type="submit" value="Edit this user">
</form>
<br>
<form th:method="DELETE" th:action="@{/users/{id}(id=${getUserById.getId()})}" th:object="${getUserById}">
    <input type="submit" value="Delete this user">
</form>
<br>
<a href="/users/">go to start page</a>
</body>
</html>