<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>List of users</h1>
    <ul>
        <th th:each="user : ${listUsers}">
            <br>
            <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user}">...</a>

        </th>
    </ul>
</div>
<br>

<form th:method="GET" th:action="@{/users/newUser}">
    <input type="submit" value="Add new user">
</form>
<br>
<form th:method="GET" th:action="@{/users/getAmountUsers}">
    <input type="submit" value="show amount users">
</form>

</body>
</html>